
<div class="card card--flotante card__home" id="idTarjeta">
  <div class="card__title">Alertas tempranas de deforestación en zonas de Reservas Indígenas en Situación de Aislamiento con fotos satélitales e inteligencia artificial</div>
  <div class="card__alert"> 
    <div class="leyenda__icon umbral"><img src="img/icon/pointer.png" alt=""/></div>
    <p>Selecciona una alerta en el mapa</p>
  </div>
  <div class="card__search">
    <div class="card_search--icon"></div>
    <input type="text" placeholder="Busca una reserva"/>
  </div>
  <div class="card__count">
    <div class="card__count--number">00062</div>
    <p>ALERTAS EMITIDAS</p>
  </div>
</div>