
<div class="full js__full__box" id="idFull">
  <div class="full__content">
    <div class="full__back">
      <div class="btn btn-back js_btn-close"><i class="icon-back"></i>VOLVER</div>
      <div class="direction">
        <div class="circle moderada"></div>
        <p> Silva & Av. Alma. Miguel Grau</p>
      </div>
    </div>
    <div class="btn btn-close icon-close js_btn-close"></div>
    <div class="full-image">   
      <div class="full-image__overlay"></div><img src="img/puntos/large/1.jpg" alt=""/>
    </div>
  </div>
</div>