extends layout
block content
    
    include component/overlay
    include blocks/header

    .alertas
        .container
            .alertas__head
                .alertas__head--title ALERTAS TEMPRANAS DE DEFORESTACIÓN
                .alertas__head--count
                    p ALERTAS EMITIDAS
                    div 
                        span 00062
            .alertas__cards
                .alertas__card.red
                    .alertas__card--mark
                        img(src="img/icon/warning.png", alt="")
                    .alertas__card--datos
                        span DEFORESTACIÓN QUE CRUZA
                        p Bosque de producción permanente Iquitos, Loreto. 
                        p 4.5km2
                    .alertas__card--vinculo
                        a.js__alerta__show(href="alerta-1.html") VER ALERTA
                        span Actualizada hace 2 días
                .alertas__card.orange
                    .alertas__card--mark
                        img(src="img/icon/warning.png", alt="")
                    .alertas__card--datos
                        span DEFORESTACIÓN QUE CRUZA
                        p Área de Conservación Regional Ampiyacu Apayacu 
                        p Área de Conservación Regional Maijuna Kichwa
                        p Extensión de 2.4 KM
                    .alertas__card--vinculo
                        a.js__alerta__show(href="alerta-1.html") VER ALERTA
                        span Actualizada hace 2 días
                .alertas__card.celeste
                    .alertas__card--mark
                        img(src="img/icon/warning.png", alt="")
                    .alertas__card--datos
                        span DEFORESTACIÓN QUE CRUZA
                        p Área de Conservación Regional Ampiyacu Apayacu 
                        p Área de Conservación Regional Maijuna Kichwa
                        p Extensión de 2.4 KM
                    .alertas__card--vinculo
                        a.js__alerta__show(href="alerta-1.html") VER ALERTA
                        span Actualizada hace 2 días
                .alertas__card.orange
                    .alertas__card--mark
                        img(src="img/icon/warning.png", alt="")
                    .alertas__card--datos
                        span DEFORESTACIÓN QUE CRUZA
                        p Área de Conservación Regional Ampiyacu Apayacu 
                        p Área de Conservación Regional Maijuna Kichwa
                        p Extensión de 2.4 KM
                    .alertas__card--vinculo
                        a.js__alerta__show(href="alerta-1.html") VER ALERTA
                        span Actualizada hace 2 días

                .alertas__card.celeste
                    .alertas__card--mark
                        img(src="img/icon/warning.png", alt="")
                    .alertas__card--datos
                        span DEFORESTACIÓN QUE CRUZA
                        p Área de Conservación Regional Ampiyacu Apayacu 
                        p Área de Conservación Regional Maijuna Kichwa
                        p Extensión de 2.4 KM
                    .alertas__card--vinculo
                        a.js__alerta__show(href="alerta-1.html") VER ALERTA
                        span Actualizada hace 2 días


    



