@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?on4jx6');
  src:  url('../fonts/icomoon.eot?on4jx6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?on4jx6') format('truetype'),
    url('../fonts/icomoon.woff?on4jx6') format('woff'),
    url('../fonts/icomoon.svg?on4jx6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-360:before {
  content: "\e925";
}
.icon-avenidas:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-co:before {
  content: "\e902";
}
.icon-co2:before {
  content: "\e903";
}
.icon-comentarios:before {
  content: "\e904";
}
.icon-estadistica:before {
  content: "\e905";
}
.icon-eco-hacks:before {
  content: "\e906";
}
.icon-fb:before {
  content: "\e907";
}
.icon-full-view:before {
  content: "\e908";
}
.icon-ig:before {
  content: "\e909";
}
.icon-img360:before {
  content: "\e90a";
}
.icon-involucrate:before {
  content: "\e90b";
}
.icon-mas:before {
  content: "\e90c";
}
.icon-menos:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-pm:before {
  content: "\e90f";
}
.icon-sabias-que:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-i-video:before {
  content: "\e912";
}
.icon-back:before {
  content: "\e913";
}
.icon-arrow:before {
  content: "\e914";
}
.icon-note:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-lapiz:before {
  content: "\e918";
}
.icon-viento:before {
  content: "\e919";
}
.icon-temperatura:before {
  content: "\e91a";
}
.icon-sostenible:before {
  content: "\e91b";
}
.icon-ventilador:before {
  content: "\e91c";
}
.icon-hand:before {
  content: "\e91d";
}
.icon-enchufe:before {
  content: "\e91e";
}
.icon-particle:before {
  content: "\e91f";
}
.icon-mapa:before {
  content: "\e920";
}
.icon-imagen-map:before {
  content: "\e922";
}
.icon-facebook-bordered:before {
  content: "\e923";
}
.icon-twitter-bordered:before {
  content: "\e924";
}