.header
    .container.header__container
        a.header__logo(href="index.html")
            img(src="img/logo-ext.png", alt="")
        .header__list
            .header__list--li
                a.header__list--a.active(href="") ALERTAS EMITIDAS
            .header__list--li
                a.header__list--a(href="") MAPA DE ALERTAS
            .header__list--li
                a.header__list--a(href="") ¿CÓMO FUNCIONA?
            .header__list--li
                a.header__list--a.sesion(href="") INICIAR SESIÓN