.overlay.js__overlay
    .overlay__content
        img.overlay__img(src="img/hero.png", alt="")
        .overlay__box
            img.overlay__logo(src="img/logo.png", alt="")
            h1 ENTÉRATE ∙ DIFUNDE ∙ ACTÚA
        .clickShow 
            img(src="img/flecha.png", alt="")
